* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(118, 145, 136, 0.649);
    display:inline;
    position: sticky;
    top: 0px;
   
}





.head{
    display: flex;
   
}



/* Header */
.header {
     background-color: rgb(127, 127, 166);
    height: 10vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;

    position: sticky;
    top: 0;
   

}

.menu {

    display: flex;
    justify-content: space-around;
   color: black;
    align-items: center;
}

.logo {
    

    padding: 0px;
    font-size: 60px;
    text-align: center;
}


/* Main */

.main {
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    column-gap: 30px;

}

.side {

    border: solid 2px gray;
    height: 100vh;

    border-radius: 45px;
    margin-top: 10px;

 

 


}


.side{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 30px;
    background-color: rgba(0, 255, 255, 0.378);
 
    position: sticky;
    top: 120px;
}


/* Profile*/
.photo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.side img{
    height: 200px;
    width: 200px ;
    border-radius: 50%;
    border: gold solid;
}

.name{
    color: rgb(34, 21, 131);
    justify-self: center;
   
   
}

#name{

     font-size: 30px;
     padding: 20px 20px;
    font-weight: bold;
}
#status{
    font-size:25px ;
    text-align: center;
padding-bottom: 20px;
}


/* Contact */

.contact{
    
    color: rgb(16, 18, 18);
    display: flex;
    flex-direction: column;
    
    justify-content:space-evenly;
    align-content: center;
     font-weight: bold;
     padding-left: 20px;
     font-size: 17px;

}
.contact span{
    color: rgb(9, 9, 11);
    font-size: 20px;
}

/* Social Media*/

.smedia{

   
    padding-top: 30px;
   display: flex;
   justify-content: center;
   
 
    gap: 20px;
}
.smedia a img{
    border: solid orange 2px;
    height: 60px;
    width: 60px;
    
    border-radius: 50%;
     
}



/* Main bar */

.line{
    width:90%;
    background-color: gray;
    height: 2px;
    justify-self:center;
}

.menu a{

    text-decoration: none;
    color: blue;

}



.mainbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 4fr 3fr;
   height: 200vh;
   background-color: bisque;
   margin-top: 10px;
   border:solid 2PX gray;
   border-radius: 45px;
   padding: 20px;

}

.mainbar >.child{
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    
    
    border: solid 2px black;
}
.mainbar #skills .child{

    background-color: aquamarine;
    border: solid 2px gray;
}


#skills{

    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;

    grid-template-rows: 2fr 2fr 2fr ;
     gap: 25px;
     padding: 25px;
}
#skills .child{
   

    text-align: center;
   
}


.size{
    height: 90px;
    width: 130px;

}

/*
.title{
    color: rgb(181, 30, 6);
    text-align: center;
 
  padding-top :30px; ;
  font-weight: bolder;
  font-size: 150px;
    
}

*/




/* Footer */

.footer {


    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    


}




.footer p {
    position: absolute;
    top: 40px;
    padding-bottom: 40px;

    align-items: center;

}


